.footer {
    max-width: 1200px;
    margin: 0 auto;
    border: 2px outset black;
    padding: 5px 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #901616;
}

.footer__header {
    color: #000000;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
}